SharedModels/CareemVoucher.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="CareemCashVoucher" targetNamespace="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <binding hasEncoding="false" imported="true" name="BasicHttpBinding_ICareemCashVoucher" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://tempuri.org/Imports">
<xsd:import namespace="http://tempuri.org/" schemaLocation="CareemVoucher-xsd0.xsd"/>
<xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" schemaLocation="CareemVoucher-xsd1.xsd"/>
</xsd:schema>
   </wsdl:types>
   <wsdl:message name="ICareemCashVoucher_GenerateConsumerNumber_InputMessage">
      <wsdl:part element="tns:GenerateConsumerNumber" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="ICareemCashVoucher_GenerateConsumerNumber_OutputMessage">
      <wsdl:part element="tns:GenerateConsumerNumberResponse" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="ICareemCashVoucher_BillInquiry_InputMessage">
      <wsdl:part element="tns:BillInquiry" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="ICareemCashVoucher_BillInquiry_OutputMessage">
      <wsdl:part element="tns:BillInquiryResponse" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="ICareemCashVoucher_BillPayment_InputMessage">
      <wsdl:part element="tns:BillPayment" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="ICareemCashVoucher_BillPayment_OutputMessage">
      <wsdl:part element="tns:BillPaymentResponse" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="ICareemCashVoucher_GetOriginalVoucher_InputMessage">
      <wsdl:part element="tns:GetOriginalVoucher" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="ICareemCashVoucher_GetOriginalVoucher_OutputMessage">
      <wsdl:part element="tns:GetOriginalVoucherResponse" name="parameters"/>
   </wsdl:message>
   <wsdl:portType name="ICareemCashVoucher">
      <wsdl:operation name="GenerateConsumerNumber">
         <wsdl:input message="tns:ICareemCashVoucher_GenerateConsumerNumber_InputMessage" wsaw:Action="http://tempuri.org/ICareemCashVoucher/GenerateConsumerNumber"/>
         <wsdl:output message="tns:ICareemCashVoucher_GenerateConsumerNumber_OutputMessage" wsaw:Action="http://tempuri.org/ICareemCashVoucher/GenerateConsumerNumberResponse"/>
      </wsdl:operation>
      <wsdl:operation name="BillInquiry">
         <wsdl:input message="tns:ICareemCashVoucher_BillInquiry_InputMessage" wsaw:Action="http://tempuri.org/ICareemCashVoucher/BillInquiry"/>
         <wsdl:output message="tns:ICareemCashVoucher_BillInquiry_OutputMessage" wsaw:Action="http://tempuri.org/ICareemCashVoucher/BillInquiryResponse"/>
      </wsdl:operation>
      <wsdl:operation name="BillPayment">
         <wsdl:input message="tns:ICareemCashVoucher_BillPayment_InputMessage" wsaw:Action="http://tempuri.org/ICareemCashVoucher/BillPayment"/>
         <wsdl:output message="tns:ICareemCashVoucher_BillPayment_OutputMessage" wsaw:Action="http://tempuri.org/ICareemCashVoucher/BillPaymentResponse"/>
      </wsdl:operation>
      <wsdl:operation name="GetOriginalVoucher">
         <wsdl:input message="tns:ICareemCashVoucher_GetOriginalVoucher_InputMessage" wsaw:Action="http://tempuri.org/ICareemCashVoucher/GetOriginalVoucher"/>
         <wsdl:output message="tns:ICareemCashVoucher_GetOriginalVoucher_OutputMessage" wsaw:Action="http://tempuri.org/ICareemCashVoucher/GetOriginalVoucherResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="BasicHttpBinding_ICareemCashVoucher" type="tns:ICareemCashVoucher">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GenerateConsumerNumber">
         <soap:operation soapAction="http://tempuri.org/ICareemCashVoucher/GenerateConsumerNumber" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="BillInquiry">
         <soap:operation soapAction="http://tempuri.org/ICareemCashVoucher/BillInquiry" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="BillPayment">
         <soap:operation soapAction="http://tempuri.org/ICareemCashVoucher/BillPayment" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetOriginalVoucher">
         <soap:operation soapAction="http://tempuri.org/ICareemCashVoucher/GetOriginalVoucher" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="CareemCashVoucher">
      <wsdl:port binding="tns:BasicHttpBinding_ICareemCashVoucher" name="BasicHttpBinding_ICareemCashVoucher">
         <soap:address location="http://10.50.15.221/Careem_Svc_STG/CareemCashVoucher.svc"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>