SharedModels/CPSInterface_API_Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://cps.huawei.com/cpsinterface/response" xmlns:common="http://cps.huawei.com/cpsinterface/common" xmlns:response="http://cps.huawei.com/cpsinterface/response">
  <xsd:import namespace="http://cps.huawei.com/cpsinterface/common" schemaLocation="CPSInterface_API_Common.xsd"/>
  <xsd:complexType name="Response">
    <xsd:annotation>
      <xsd:documentation>中间响应消息</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Header">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Version" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Message version, default is 1.0</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="OriginatorConversationID" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>The unique identifier generated by the third
									party for the request message.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="ConversationID" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>The unique identifier generated by CPS for the
									request message.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="HeaderExtension">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" name="Extension" type="common:ParameterType"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Body">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ResponseCode" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>It indicates whether CPS accepts the request
									or not.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ResponseDesc" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Its value is a description for the parameter
									ResultCode.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="ServiceStatus" type="xsd:integer">
              <xsd:annotation>
                <xsd:documentation>It indicates the MM service status.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>